<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite1" verbose="1" >

    <test name="Home Page Tests">
        <classes>
            <class name="com.sysdig.test.HomePageLoadingTest"/>
            <class name="com.sysdig.test.LoginTest"/>
            <class name="com.sysdig.test.ForgotPasswordTest"/>
        </classes>
    </test>
</suite>
